.booking-section {
  text-align: center;
  padding: 20px 0;
}

.booking-section h2 {
  font-size: 2.4em;
  font-weight: bold;
  margin-bottom: 10px;
  color: blue;
  font-family: sans-serif;
}

.booking-section p {
  color: #666;
  font-size: 19px;
}


.appointment-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 900px;
  margin: 20px auto 20px 14.5%;
  border-radius: 8px;
}

.doctor-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.info-text h3 {
  font-size: 1.4em;
  font-weight: 600;
  margin: 0 0 5px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.info-text p {
  color: #666;
  margin: 0;
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
